* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
.main {
  background: linear-gradient(145deg, red, blue);
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}
.head {
  width: 100%;
  max-width: 540px;
  background-color: rgb(252, 252, 252);
  margin: 200px auto 90px;
  padding: 20px 30px 40px;
  border-radius: 5px;
}
.head h2 {
  color: rgb(38, 38, 134);
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.head img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.input-field {
  display: flex;
  margin-top: 20px;
  background: aliceblue;
  border-radius: 30px;
  margin-bottom: 20px;
}

.input-field input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 15px;
  font-weight: 15px;
}

button {
  width: 105px;
  border-radius: 30px;
  border: none;
  background: rgb(243, 88, 50);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    color: rgb(243, 88, 50);;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}

ul li span{
    position: absolute;
    right: 550px;
    width: 20px;
    height: 200px;
    font-size: 22px;
    color: rgb(243, 88, 50);
    
}

ul li span :hover
{
    background: #edeefe;
    border-radius: 50%;
}
ul li::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url(images/unchecked.png);
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    margin-left: -40px;
    margin-top: -3px;

}

ul li.checked
{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}